# Keystore (CRITICAL)
key.properties
**/*.jks
**/*.keystore

# Local config
local.properties

# Gradle
/.gradle
android/.gradle/

# Build
build/
android/app/build/

# Flutter
.dart_tool/
.packages
.pub-cache/

# Others
captures/
.cxx/
GeneratedPluginRegistrant.java